### Inicialização

In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Dados

In [35]:
filmes = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

In [36]:
filmes.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [37]:
filmes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [38]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [39]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [40]:
ratings.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [41]:
filmes.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

In [42]:
df = filmes.merge(ratings[['movieId', 'userId', 'rating']], how='left', on='movieId')

df

,movieId,title,genres,userId,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5
...,...,...,...,...,...
100849,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184.0,4.0
100850,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184.0,3.5
100851,193585,Flint (2017),Drama,184.0,3.5
100852,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184.0,3.5
100853,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331.0,4.0

In [43]:
df.groupby(['title'], as_index=False).agg({'rating':'mean'}).sort_values(by='rating', ascending=False).head()

                                    title  rating
3360            Gena the Crocodile (1969)     5.0
8968                  True Stories (1986)     5.0
1991        Cosmic Scrat-tastrophe (2015)     5.0
5278              Love and Pigeons (1985)     5.0
7046  Red Sorghum (Hong gao liang) (1987)     5.0

### Transformação

In [44]:
tabela_filmes = pd.pivot_table(df, index='title', columns='userId', values='rating').fillna(0)

tabela_filmes.head()

userId,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,601.0,602.0,603.0,604.0,605.0,606.0,607.0,608.0,609.0,610.0
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Salem's Lot (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Til There Was You (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### *Colaborative Filtering* - Método baseado em avaliações

In [45]:
import sklearn.metrics.pairwise as pw

In [46]:
recom = pw.cosine_similarity(tabela_filmes)

recom_df = pd.DataFrame(recom, columns=tabela_filmes.index, index=tabela_filmes.index)

recom_df.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),1.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.141653,0.0,...,0.0,0.342055,0.543305,0.707107,0.0,0.0,0.139431,0.327327,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,1.000000,0.707107,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Round Midnight (1986),0.0,0.707107,1.000000,0.000000,0.000000,0.0,0.176777,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Salem's Lot (2004),0.0,0.000000,0.000000,1.000000,0.857493,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Til There Was You (1997),0.0,0.000000,0.000000,0.857493,1.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0

In [47]:
exemplo = pd.DataFrame( recom_df["Teenage Mutant Ninja Turtles: Turtles Forever (2009)"].sort_values(ascending=False))

exemplo.columns = ['Recomendações']

exemplo.head()

                                                    Recomendações
title
LEGO Batman: The Movie - DC Heroes Unite (2013)               1.0
Passion (2012)                                                1.0
Dragon Ball Z: The Return of Cooler (Doragon bô...            1.0
The Death of Stalin (2017)                                    1.0
Son of the Mask (2005)                                        1.0

In [48]:
exemplot = pd.DataFrame( recom_df["Teenage Mutant Ninja Turtles: Turtles Forever (2009)"].sort_values(ascending=False))

#exemplot.columns = ['Recomendações']

exemplot.head(36)

                                                    Teenage Mutant Ninja Turtles: Turtles Forever (2009)
title
LEGO Batman: The Movie - DC Heroes Unite (2013)                                                   1.0
Passion (2012)                                                                                    1.0
Dragon Ball Z: The Return of Cooler (Doragon bô...                                                1.0
The Death of Stalin (2017)                                                                        1.0
Son of the Mask (2005)                                                                            1.0
Dante's Inferno: An Animated Epic (2010)                                                          1.0
Turtle Power: The Definitive History of the Tee...                                                1.0
A Detective Story (2003)                                                                          1.0
Green Lantern: First Flight (2009)                                                                1.0
Ringu 0: Bâsudei (2000)                                                                           1.0
Tremors 4: The Legend Begins (2004)                                                               1.0
Silent Hill: Revelation 3D (2012)                                                                 1.0
Deepwater Horizon (2016)                                                                          1.0
Blitz (2011)                                                                                      1.0
Shin Godzilla (2016)                                                                              1.0
Power Rangers (2017)                                                                              1.0
Highlander: The Search for Vengeance (2007)                                                       1.0
Dominion: Prequel to the Exorcist (2005)                                                          1.0
Hogfather (Terry Pratchett's Hogfather) (2006)                                                    1.0
Creep (2004)                                                                                      1.0
Hulk Vs. (2009)                                                                                   1.0
Infernal Affairs 2 (Mou gaan dou II) (2003)                                                       1.0
Dragon Ball Z: Resurrection of F (2015)                                                           1.0
Superman/Batman: Public Enemies (2009)                                                            1.0
Superman/Doomsday (2007)                                                                          1.0
T2 3-D: Battle Across Time (1996)                                                                 1.0
Tarantula (1955)                                                                                  1.0
Kid's Story (2003)                                                                                1.0
Dragon Ball GT: A Hero's Legacy (Doragon bôru G...                                                1.0
Underworld: Blood Wars (2016)                                                                     1.0
Teenage Mutant Ninja Turtles: Turtles Forever (...                                                1.0
Wonder Woman (2009)                                                                               1.0
Justice League: Doom (2012)                                                                       1.0
Geostorm (2017)                                                                                   1.0
Michael Jackson's Thriller (1983)                                                                 1.0
Batman: Mystery of the Batwoman (2003)                                                            1.0

### *Content-Based Filtering*

### Novos dados

In [49]:
filmes

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [50]:
dados = pd.read_csv('data/Dados.csv')
dados['Name'] = dados['Name'].map(str) + " (" + dados['Year'].map(str) + ")"
dados.head()

,Name,Year,Stars,Score,Time,Votes,Total,Tags,Directors_Cast,Discription
0,Pulp Fiction (1994),1994,8.9,94.0,154,"1,871,051",$107.93,\nCrime Drama,Quentin Tarantino John Travolta Uma Thurman Sa...,\nThe lives of two mob hitmen a boxer a gangst...
1,The Amazing Spider-Man 2 (2014),2014,6.6,53.0,142,"425,529",$202.85,\nAction Adventure Fantasy,Marc Webb Andrew Garfield Emma Stone Jamie Fox...,\nWhen New York is put under siege by Oscorp i...
2,The Shawshank Redemption (1994),1994,9.3,80.0,142,"2,409,436",$28.34,\nDrama,Frank Darabont Tim Robbins Morgan Freeman Bob ...,\nTwo imprisoned men bond over a number of yea...
3,Star Wars: Episode IV - A New Hope (1977),1977,8.6,90.0,121,"1,255,464",$322.74,\nAction Adventure Fantasy,George Lucas Mark Hamill Harrison Ford Carrie ...,\nLuke Skywalker joins forces with a Jedi Knig...
4,Back to the Future (1985),1985,8.5,87.0,116,"1,087,878",$210.61,\nAdventure Comedy Sci-Fi,Robert Zemeckis Michael J. Fox Christopher Llo...,\nMarty McFly a 17-year-old high school studen...

In [51]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9937 entries, 0 to 9936
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            9937 non-null   object
 1   Year            9754 non-null   object
 2   Stars           9725 non-null   float64
 3   Score           6145 non-null   float64
 4   Time            9722 non-null   object
 5   Votes           9736 non-null   object
 6   Total           6892 non-null   object
 7   Tags            9929 non-null   object
 8   Directors_Cast  9853 non-null   object
 9   Discription     6145 non-null   object
dtypes: float64(2), object(8)
memory usage: 776.5+ KB

In [52]:
tags = pd.read_csv('data/Tags.csv')
tags['movieId'] = tags['movieId'].astype('string')
tags.head()

  movieId                                                tag
0       1  Owned,imdb top 250,Pixar,Pixar,time travel,chi...
1       2  Robin Williams,time travel,fantasy,based on ch...
2       3  funny,best friend,duringcreditsstinger,fishing...
3       4  based on novel or book,chick flick,divorce,int...
4       5  aging,baby,confidence,contraception,daughter,g...

In [53]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45256 entries, 0 to 45255
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  45256 non-null  string
 1   tag      45256 non-null  object
dtypes: object(1), string(1)
memory usage: 707.3+ KB

### Transformações

In [54]:
filmes['movieId'] = filmes['movieId'].astype('string')

df2 = filmes.merge(dados, how='left', left_on='title', right_on='Name')

df2 = df2.merge(tags, how='left', on='movieId')

df2['info'] = df2['genres'].map(str) + " " + df2['Directors_Cast'].map(str) + " " + df2['Discription'].map(str) + " " + df2['Tags'].map(str)

df2.head()

,movieId,title,genres,Name,Year,Stars,Score,Time,Votes,Total,Tags,Directors_Cast,Discription,tag,info
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995),1995,8.3,95.0,81,"908,794",$191.80,\nAnimation Adventure Comedy,John Lasseter Tom Hanks Tim Allen Don Rickles ...,\nA cowboy doll is profoundly threatened and j...,"Owned,imdb top 250,Pixar,Pixar,time travel,chi...",Adventure|Animation|Children|Comedy|Fantasy Jo...
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji (1995),1995,7.0,39.0,104,"316,485",$100.48,\nAdventure Comedy Family,Joe Johnston Robin Williams Kirsten Dunst Bonn...,\nWhen two kids find and play a magical board ...,"Robin Williams,time travel,fantasy,based on ch...",Adventure|Children|Fantasy Joe Johnston Robin ...
2,3,Grumpier Old Men (1995),Comedy|Romance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"funny,best friend,duringcreditsstinger,fishing...",Comedy|Romance nan nan nan
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale (1995),1995,6.0,NaN,124,"9,911",$67.05,\nComedy Drama Romance,Forest Whitaker Whitney Houston Angela Bassett...,NaN,"based on novel or book,chick flick,divorce,int...",Comedy|Drama|Romance Forest Whitaker Whitney H...
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II (1995),1995,6.1,49.0,106,"35,472",$76.59,\nComedy Family Romance,Charles Shyer Steve Martin Diane Keaton Martin...,\nGeorge Banks must deal not only with the pre...,"aging,baby,confidence,contraception,daughter,g...",Comedy Charles Shyer Steve Martin Diane Keaton...

In [55]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9746 entries, 0 to 9745
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   movieId         9746 non-null   string
 1   title           9746 non-null   object
 2   genres          9746 non-null   object
 3   Name            3796 non-null   object
 4   Year            3796 non-null   object
 5   Stars           3791 non-null   float64
 6   Score           3282 non-null   float64
 7   Time            3796 non-null   object
 8   Votes           3796 non-null   object
 9   Total           3583 non-null   object
 10  Tags            3796 non-null   object
 11  Directors_Cast  3796 non-null   object
 12  Discription     3282 non-null   object
 13  tag             9292 non-null   object
 14  info            9746 non-null   object
dtypes: float64(2), object(12), string(1)
memory usage: 1.1+ MB

### TfIdf

In [56]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [57]:
vec = TfidfVectorizer()

In [58]:
tfidf = vec.fit_transform(df2['info'].apply(lambda x: np.str_(x)))

In [59]:
simil = cosine_similarity(tfidf)

simil

array([[1.        , 0.0458025 , 0.03643589, ..., 0.        , 0.05880848,
        0.04217008],
       [0.0458025 , 1.        , 0.01698301, ..., 0.        , 0.        ,
        0.01965575],
       [0.03643589, 0.01698301, 1.        , ..., 0.72226807, 0.5230789 ,
        0.86402221],
       ...,
       [0.        , 0.        , 0.72226807, ..., 1.        , 0.61659085,
        0.83593693],
       [0.05880848, 0.        , 0.5230789 , ..., 0.61659085, 1.        ,
        0.60539984],
       [0.04217008, 0.01965575, 0.86402221, ..., 0.83593693, 0.60539984,
        1.        ]])

In [60]:
recom2_df = pd.DataFrame(simil, columns=df2['title'], index=df2['title'])

recom2_df.head()

title,Toy Story (1995),Jumanji (1995),Grumpier Old Men (1995),Waiting to Exhale (1995),Father of the Bride Part II (1995),Heat (1995),Sabrina (1995),Tom and Huck (1995),Sudden Death (1995),GoldenEye (1995),...,Gintama: The Movie (2010),anohana: The Flower We Saw That Day - The Movie (2013),Silver Spoon (2014),Love Live! The School Idol Movie (2015),Jon Stewart Has Left the Building (2015),Black Butler: Book of the Atlantic (2017),No Game No Life: Zero (2017),Flint (2017),Bungo Stray Dogs: Dead Apple (2018),Andrew Dice Clay: Dice Rules (1991)
title,,,,,,,,,,,,,,,,,,,,,
Toy Story (1995),1.000000,0.045803,0.036436,0.007273,0.004981,0.020244,0.004368,0.039806,0.000000,0.048319,...,0.070022,0.062224,0.039439,0.065131,0.000000,0.116268,0.124828,0.000000,0.058808,0.042170
Jumanji (1995),0.045803,1.000000,0.016983,0.003390,0.070824,0.023051,0.024568,0.077635,0.000000,0.020713,...,0.011291,0.000000,0.018383,0.000000,0.000000,0.049688,0.053346,0.000000,0.000000,0.019656
Grumpier Old Men (1995),0.036436,0.016983,1.000000,0.168664,0.052944,0.000000,0.101302,0.072589,0.658356,0.000000,...,0.496319,0.553461,0.808075,0.579314,0.557791,0.539648,0.579379,0.722268,0.523079,0.864022
Waiting to Exhale (1995),0.007273,0.003390,0.168664,1.000000,0.026735,0.006076,0.042325,0.017821,0.043804,0.000000,...,0.044861,0.075392,0.119256,0.038545,0.037113,0.048777,0.052368,0.098387,0.034803,0.078096
Father of the Bride Part II (1995),0.004981,0.070824,0.052944,0.026735,1.000000,0.019241,0.061094,0.041850,0.000000,0.040070,...,0.012161,0.000000,0.019800,0.000000,0.000000,0.013223,0.014197,0.000000,0.000000,0.021171

### Comparação das abordagens

In [61]:
movie = 'Teenage Mutant Ninja Turtles: Turtles Forever (2009)'

In [62]:
exemplo2 = pd.DataFrame(recom2_df[movie].sort_values(ascending=False))

#exemplo2.columns = ['Recomendações']

exemplo2.head()

                                                    Teenage Mutant Ninja Turtles: Turtles Forever (2009)
title
Teenage Mutant Ninja Turtles: Turtles Forever (...                                           1.000000
Priklyucheniya Kapitana Vrungelya (1979)                                                     0.940922
LEGO Batman: The Movie - DC Heroes Unite (2013)                                              0.905578
Batman vs. Robin (2015)                                                                      0.905578
Dragon Ball Z: Broly Second Coming (Doragon bôr...                                           0.905578

In [63]:
exemplo = pd.DataFrame( recom_df[movie].sort_values(ascending=False))

#exemplo.columns = ['Recomendações']

exemplo.head()

                                                    Teenage Mutant Ninja Turtles: Turtles Forever (2009)
title
LEGO Batman: The Movie - DC Heroes Unite (2013)                                                   1.0
Passion (2012)                                                                                    1.0
Dragon Ball Z: The Return of Cooler (Doragon bô...                                                1.0
The Death of Stalin (2017)                                                                        1.0
Son of the Mask (2005)                                                                            1.0